/* Your CSS code here: */

 * { 
  border: 0px solid black; 
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 

body{
  margin: 0px;
}

.right{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 90px;
  background-color: rgba(220,255,220,0.5);
}

.right img{
  width:170px;
  height:170px;
  border-radius: 50%;
}

.friends-filter{
  text-align: center;
}

.friends-filter h2{
  margin-bottom: 10px;
}

#filter-friends{
  margin-bottom: 15px;
  background-color:rgba(220,255,220,0.5);
  border-radius: 10px;
  padding: 10px 10px;
  width: 160px;
}

.contact-cards{
  height: 480px;
  overflow: auto;
}


.contact-card{
  display:flex;
  align-items: center;
  padding-left: 40px;
  height: 120px;
  background-color:rgba(200,200,200,0.05);
  border-bottom: 1px solid rgba(0,0,0,0.09);
}

.contact-card:hover{
  background-color: rgba(167, 245, 167, 0.25);
}

.contact-card img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.contact-card p{
  margin-left: 30px;
}

#emily-card {
  background-color: rgba(167, 245, 167, 0.75);
}

.left{
  width: 280px;
}

.right{
  width: 620px;
}

#description{
  width: 80%;
}

.contact-buttons{
  margin-top: 60px;
}

.contact-buttons button{
  margin: 0 20px;
  height:50px;
  width: 100px;
  border-radius: 10px;
  background-color: white;
  color:white;
  text-transform: uppercase;
  font-weight: normal;
  border-width: 2px;
  font-size: 14pt;
}



#edit-button{
  background-color: rgba(100,255,100,0.9);
  border-color:rgba(100,255,100,0.9);

}

#delete-button{
  background-color: rgba(255,100,100,0.9);
  border-color: rgba(255,100,100,0.9);

}

#edit-button:hover{
  color: rgba(100,255,100,0.9);
  background-color: white;
}

#delete-button:hover{
  color: rgba(255,100,100,0.9);
  background-color: white;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
  border-radius: 5px;
  border: 1px solid rgba(105, 167, 105, 0.95);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(105, 167, 105, 0.75);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(105, 167, 105, 0.95);
}

.main{
  box-shadow: 1px 2px 7px 6px rgba(0,0,0,0.09);
  border-radius: 10px;
  width: 900px;
  margin: auto;
  margin-top: 10vh;
  display: flex;
  height: 700px;
}

